<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sptech.rxjavabysp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rxJava2Examples.rxBinding.RxBindingActivity"></activity>
        <activity android:name=".rxJava2Examples.CompositeObservableActivity" />
        <activity android:name=".rxJava2Examples.DisposableObserverActivity" />
        <activity android:name=".rxJava2Examples.DisposableActivity" />
        <activity android:name=".rxJava2Examples.SimpleObserverActivity" />
        <activity android:name=".rxJava2Examples.RxJava2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- OPERATORS -->
        <activity android:name=".rxJava2Examples.operators.FromOperatorActivity" />
        <activity android:name=".rxJava2Examples.operators.JustOperatorActivity" />
        <activity android:name=".rxJava2Examples.operators.BufferActivity" />
        <activity android:name=".rxJava2Examples.operators.ConcatActivity" />
        <activity android:name=".rxJava2Examples.operators.EmptyActivity" />
        <activity android:name=".rxJava2Examples.operators.FIlterActivity" />
        <activity android:name=".rxJava2Examples.operators.FlatmapActivity" />
        <activity android:name=".rxJava2Examples.operators.IntervalActivity" />
        <activity android:name=".rxJava2Examples.operators.MapActivity" />
        <activity android:name=".rxJava2Examples.operators.RangeActivity" />
        <activity android:name=".rxJava2Examples.operators.SkipActivity" />
        <activity android:name=".rxJava2Examples.operators.SkipLastActivity" />
    </application>

</manifest>